<h2>Create new Glossary</h2>

<form (ngSubmit)="create()">
  <div class="form-group row">
    <label class="col-2 col-form-label">English</label>
    <input class="form-control col-10" type="text" [(ngModel)]="glossary.english" name="english">
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Bosnian</label>
    <input class="form-control col-10" type="text" [(ngModel)]="glossary.bosnian"  name="bosnian">
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">ImageUrl</label>
    <input class="form-control col-10" type="text" [(ngModel)]="glossary.imageUrl"  name="imageUrl">
  </div>

  <button type="submit" class="btn btn-primary mr-1">Create</button>
  <a class="btn btn-secondary" role="button" [routerLink]="['/glossary-list']">Back</a>
</form>
