
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" [routerLink]="['/glossary-list']">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mr-1">
        <a [routerLink]="['/glossary-list']">List</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/glossary-form']">Create</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <router-outlet></router-outlet>
  </div>
</div>
